* {
    font-family: Arial, Helvetica, sans-serif;
   
}

h1 {}

.navbar {
    background-color: rgb(220, 238, 107);
}

.fiveday {
    background-color: rgb(96, 201, 250);
    height: 500px;
}

#search-result {
    background-color: rgb(238, 168, 233);
}
